<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @answer.question_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @answer.content %>
</p>

<p>
  <strong>Unique:</strong>
  <%= @answer.unique_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @answer.user_id %>
</p>

<p>
  <strong>Buddy image url:</strong>
  <%= @answer.buddy_image_url %>
</p>

<p>
  <strong>Alias:</strong>
  <%= @answer.alias %>
</p>

<p>
  <strong>Votes count:</strong>
  <%= @answer.votes_count %>
</p>

<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
